$text:(
    color:$colornav,
    f-size: 15px,
    f-weight: bold,
    spacing: 3px,
    hover: border-bottom 2px solid $colortitulos,
);

div a{
    color:map-get($text, color);
    font-size:map-get($text, f-size);
    font-weight:map-get($text, f-weight);
    letter-spacing:map-get($text, spacing);
    
}

$textbio:(
    color:$colornav,
    f-size:18px,   
    spacing: 3px,
    margin:7%,
    align:center,
    
    
);

div p{
    color:map-get($textbio, color);
    font-size:map-get($textbio, f-size);
    letter-spacing:map-get($textbio, spacing);
    margin-top:map-get($textbio, margin);
}

.container-fluid .row p{
    color:map-get($textbio, color);
    font-size:map-get($textbio, f-size);
    letter-spacing:map-get($textbio, spacing);
    margin-top:map-get($textbio, margin);
}

div form div .text {
    color:map-get($textbio, color);
    font-size:map-get($textbio, f-size);
    letter-spacing:map-get($textbio, spacing);
    margin-top:map-get($textbio, margin);
    text-align:map-get($textbio, align); ;
}
